form {
    display: flex;
    flex-direction: column;  
}

input {
        padding: 5px;
        margin-bottom: 10px;
    }

button {
    margin-bottom: 5px;
    min-width: 10px;
    padding-block: 2px;
}